body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.task-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: center;
}

.task-form h2 {
  margin-top: 0;
}

.task-form input,
.task-form textarea,
.task-form button {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

.task-form button {
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
}

.task-form button:hover {
  background-color: #218838;
}

.task-list {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-list h1 {
  color: #333;
}

.task-item {
  border: 1px solid rgb(43, 37, 37);
  padding: 10px 0;
  color: black;
}

.task-item h3 {
  margin: 0;
  font-size: 1.2em;
}

.task-item p {
  margin: 5px 0 0;
}
